.contenedor-btnAgregar{
    padding-top: 26px;
    
}
#btn-listaEst{
    border-radius: 3px;
    background-color: #00ae86;
    color: white;
    font-weight: 600;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
    width: 200px;
    height: 50px;
    
}
#btn-listaApo{
    border-radius: 3px;
    margin-left: -5px;
    font-weight: 600;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
    width: 200px;
    height: 50px;
}
.label-dni{
    font-weight: bold;
}
#campo-buscar{
    border-radius: 3px;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
    width: 350px;
}
#btn-buscar{
    border-radius: 3px;
    background-color: #00ae86;
    color: white;
    font-weight: 600;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
    width: 130px;
    display: flex;
    align-items: center;
}
#icon-buscar{
    margin-right: 10px;
}
#btn-agregarEst{
    border-radius: 3px;
    background-color: #00ae86;
    color: white;
    font-weight: 600;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    margin-top: 3px;
    
}
#icon-agregar{
    margin-right: 10px;
}

.table-container{
    border-radius: 3px;
    border:2px solid black;
    padding-right: 30px;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
}
#tabla{
    margin: 15px 15px;
    
}
#tabla th{
    padding: 20px 25px;
    background-color: #00ae86;
    color: white;
    font-weight: 700;

}
#tabla td{
    padding: 15px;
    background-color: #444444;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.icono-accion{
    text-decoration: none;
}

#contenedor-pag a{
    border: 0px;
}
#pag1{
    border:1px solid black;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
}


/*------MODAL- AGREGAR ESTUDIANTE-------*/

#e_fecNacInput{
    width: 260px;
}

#a_fecNacInput{
    width: 260px;
}
#grado{
    width: 260px;
}
#btn-agregar{
    font-size: 14px;
    font-weight: 600;
    color: black;
    width: 120px;
    height: 50px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: #f2d12e;
    box-shadow: 5px 5px 0px 0px #555555;
}
#btn-cancelar{
    font-size: 14px;
    font-weight: 600;
    color: black;
    width: 120px;
    height: 50px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: #9e9e9e;
    box-shadow: 5px 5px 0px 0px #555555;
}

#modal-contenido{
    background-color: #222222;
    border: 3px solid black;
    box-shadow: 5px 5px 0px 0px #555555;
    
}
.modal-title{
    color: white;
    font-weight: bold;
}
#etiqueta{
    color: white;
}
.form-control{
    box-shadow: 5px 5px 0px 0px #555555;
    
}
.form-select{
    box-shadow: 5px 5px 0px 0px #555555;
}
/*------TRANSICIONES QUE SE APLICARAN A TODOS LOS MODALES EXISTENTES-------*/
.modal.fade.show {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
  /* Estilo para la transición de salida del modal */
.modal.fade {
    opacity: 0;
    transition: opacity 0.3s 
}
/*--------------------------------------------------------------------------*/

/*------MODAL- ELIMINAR ESTUDIANTE-------*/
#btn-eliminar{
    font-size: 14px;
    font-weight: 600;
    color: black;
    width: 120px;
    height: 50px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: #f2d12e;
    box-shadow: 5px 5px 0px 0px #555555;
}

#modal-contenido{
    background-color: #222222;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 0px #555555;
    
}
#contenedor-botones{
    display: flex;
    justify-content: center;
    /*quita la linea de la parte superior*/
    border-top: none;
}

/*------MODAL- EDITAR ESTUDIANTE-------*/
#btn-guardar{
    font-size: 14px;
    font-weight: 600;
    color: black;
    width: 120px;
    height: 50px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: #f2d12e;
    box-shadow: 5px 5px 0px 0px #555555;
}